# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# idea
.idea

# vs
.vs

# Generated js / js.map
*.js
*.js.map

# Generated d.ts
*.d.ts

# Generated test results
.nyc_output

# Mac only
.DS_Store

# Exclude queue files
!src/queue/repository.js
!src/queue/repository.d.ts
